.DS_Store
DerivedData/
build/
.build/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
.idea/
.env
.env.*
*.ipa
*.dSYM.zip
*.xcarchive
Windows/**/bin/
Windows/**/obj/
Windows/.vs/
